@{
    ViewData["Title"] = "Resume";
}
<h2>@ViewData["Title"]</h2>
<pre>
Sana Kausar Tabarak Mulla                                      Fresher IT/Software Graduate


    <h4>SUMMARY</h4>

Good verbal and written communication skills. 
Socialiser, Extrovert, Flexible and Good Organizer.
Always look forward to learning new things, high Learning Curve.
Excellent conceptive and problem-solving skills.
Good team player with strong communication and coordination skills
Completed IT engineering graduation (Computer Science) in 2011 from VTU University, India.


    <h4> PROFESSIONAL SKILLS</h4>

Programming Languages	: C#, C, C++,HTML,CSS,Javascript,Bootstrap
Database			: SQL Server, RDBMS/Oracle
Operating System		: Windows 95/98/2000/XP/7/10

                    

    <h4>LANGUAGE SKILLS</h4>

    <table style="width:100%">
        <tr>
            <th>Languages</th>
            <th>Beginner</th>
            <th>Intermediate</th>
            <th>Proficient</th>
        </tr>
        <tr>
            <td>English</td>
            <td></td>
            <td></td>
            <td>Proficient</td>
        </tr>
        <tr>
            <td>Svenska</td>
            <td></td>
            <td>Intermediate</td>
            <td></td>
        </tr>
        <tr>
            <td>Hindi</td>
            <td></td>
            <td></td>
            <td>Proficient</td>
        </tr>
        <tr>
            <td>Urdu</td>
            <td></td>
            <td></td>
            <td>Proficient</td>
        </tr>
    </table>

    <h4> ACHIEVEMENTS </h4>

Presented a National Level Paper on “Information Security in Wireless Network Using AES Algorithm in WAP2” held at HIT, Nidasoshi, India (Team of  2) in 2009.
Event organizer in all the annual, cultural and sports functions of college.
Completed Academic project successfully


    <h4> PROJECTS HISTORY</h4>

2011
Academic Project: 
Successfully completed final year project:
Title: “Zigbee Based Bus Information System”
Team size:4
Tools:  Kiel Vision Software package.
Description: In this project the information of the arriving bus is displayed on the LCD. It is designed using microcontroller and Zigbee. 

2020 Oct to Ongoing
	Arbetsförmedlingen/Lexicon IT Påbyggnadsutbildning


I hereby declare that the information furnished above is true to best of my knowledge.


Date: 1.6.2021							
Göteborg								Sana Kausar Tabarak Mulla

</pre>