@{
    ViewData["Title"] = "Contacts";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<article>
    <h2>@ViewData["Title"]</h2>
    <p>
        <i class="fa fa-phone" style="font-size:24px;"> +46 123456789 </i>
    </p>
    <p>
        <i class="fa fa-envelope" style="font-size:24px;"> sanashaikh1213@gmail.com </i>
    </p>
    <p>
        <i class='fa fa-home' style='font-size:24px'>  Göteborg</i>
    </p>
    <p>
        LinkedIn		: <a href="https://www.linkedin.com/in/sana-kausar-mulla-1b5021190/"> https://www.linkedin.com/in/sana-kausar-mulla-1b5021190/ </a>
        </p>
    <p>
        Github			: <a href=" https://github.com/sana-tm"> https://github.com/sana-tm </a>       
    </p>

</article>
