@{
    ViewData["Title"] = "Projects";
}
<h2>@ViewData["Title"]</h2>

<h4> Calculator </h4>
<p> A basic Console-based calculator using C#. It should be able to handle basic mathematical operations (addition, subtraction, multiplication, division), and be able to present the results in a consistent way.</p>

<h4> Arena Fighter </h4>
<p>  In this game, the player creates a character, and proceeds to fight randomly generated opponents until the player character loses. Once battle starts, roll a dice by generating a random number. Then compare the total strength values of both charactersand have the character with the highest value deal damage to the other.  </p>

<h4> Golf Game </h4>
<p>
    In this GOLF game the user controls the ball till it reaches the cup.
    The user inputs the angle and the velocity at which he hits the ball.
    It runs in a loop till the ball reaches the cup or if he has taken more than 10 swings or
    if the ball went too far.
    Displays the progress after every hit.
</p>

<h4> Vending Machine </h4>
<p>
    This Vending Machine program takes comma seperated cash input according to predefined denominations.
    The user selects the product number of the desired item from the provided list.
    If more quantity of same product types are required then the product numbers should be given comma seperated.
    It displays the products purchased or not, depending on the balance.
    Also displays how to use the product.
    The remaining change is returned in the predifined denominations.
</p>

<h4> HTML & CSS</h4>
<p> A simple basic webpage using html elements andd css stylesheets. </p>

<h4> Bootstrap </h4>
<p> A simple website using Twitter Bootstrap and css.</p>

<h4> String Rotation </h4>
<p> A JavaScript program to rotate the string 'lexicon' in right direction by periodically. </p>

<h4> Guessing Number </h4>
<p> A JavaScript program where the program takes a random integer between 1 to 10, the user is then prompted to input a guess number.</p>

<h4> Days to Christmas </h4>
<p> A JavaScript program to calculate days left until next Christmas. </p>

<h4> Nearest to 100 </h4>
<p> A JavaScript program to find a value which is nearest to 100 from two different given integer values. </p>

<h4> Concatinating String </h4>
<p> A JavaScript program to create a new string adding "Py" in front of a given string. If the given string begins with "Py" then return the original string. </p>
